
$primary-color: #506dff;
$secondary-color: rgb(149, 29, 255);

mat-form-field,
mat-form-field input {
  width: 100%;
}

.gender-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.gender-radio-button {
  margin: 5px;
}


.btn-primary.disabled, .btn-primary:disabled{
  background-color: $secondary-color;
}
