<div class="container aos-init aos-animate" data-aos="fade-up">

  <div class="row mt-5">
    <div class="col-lg-4">

      <!-- TODO change this -->

      <div>
        <p>
          Everything starts from here. You are one step away form getting paired with someone who might likely
          change the way you see things. The following form is good starting ground. Fill <b>every</b> field with
          <b>honesty</b>.
        </p>

        <p>Remember that pairing is not instantaneous, so you will not immediately be notified. Be on the look out for
          related emails, which will be sent out on a communicated date.</p>
      </div>

      <br>

      <div class="mat-elevation-z5">
        <img class="img-fluid" src="assets/img/apply-1.jpg" alt="mentor mentee form content images">
      </div>
    </div>

    <div class="col-lg-8 mt-5 mt-lg-0">

      <form [formGroup]="mmForm" (ngSubmit)="onSubmit()" role="form" class="php-email-form">
        <!-- username -->
        <div class="row form-row">
          <div class="col-md-12 form-group">
            <mat-form-field appearance="outline">
              <mat-label>Registration Number</mat-label>
              <input matInput formControlName="username" type="text" placeholder="UBA2XE0000">
            </mat-form-field>
          </div>
        </div>

        <!-- name -->
        <div class="row">
          <div class="col-md-6 form-group">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" type="text" placeholder="Elroy">
            </mat-form-field>
          </div>
          <div class="col-md-6 form-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" type="text" placeholder="Kanye">
            </mat-form-field>
          </div>
        </div>

        <!-- email and number -->
        <div class="row">
          <div class="col-md-6 form-group">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" type="text" placeholder=elroykanye@gmail.com>
            </mat-form-field>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Whatsapp Number</mat-label>
              <input matInput formControlName="phoneNumber" type="tel" placeholder=237672270627>
            </mat-form-field>
          </div>
        </div>

        <div class="row form-row">
          <!-- gender -->
          <div class="form-group col-6">
            <mat-radio-group formControlName="gender" aria-label="Gender" class="gender-radio-group">
              <mat-label>Gender</mat-label>
              <mat-radio-button class="gender-radio-button" *ngFor="let gender of genders" value="{{gender.toLowerCase()}}">{{gender}}</mat-radio-button>&nbsp;
            </mat-radio-group>
          </div>
          <!-- level -->
          <div class="form-group col-6">
            <mat-radio-group formControlName="level" aria-label="Level" class="gender-radio-group">
              <mat-label>Level</mat-label>
              <mat-radio-button class="gender-radio-button" *ngFor="let level of levels" value="{{level}}">{{level}}</mat-radio-button>&nbsp;
            </mat-radio-group>
          </div>
        </div>

        <div class="form-row">
          <!-- department -->
          <div class="form-group col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Department</mat-label>
              <mat-select formControlName="department">
                <mat-option *ngFor="let department of departments" value="{{department.value}}">{{department.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- role -->
          <div class="form-group col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Role</mat-label>
              <mat-select formControlName="role">
                <mat-option *ngFor="let r of roles" value="{{r.value}}">{{r.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group mt-3">
          <label for="imageFile" class="form-label">Image</label>
          <input formControlName="image" class="form-control" type="file" id="imageFile">
        </div>

        <div class="form-group mt-3">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Say something about yourself</mat-label>
            <textarea matInput formControlName="about" type="text" placeholder="Ex. I am a crazy developer"></textarea>
          </mat-form-field>
        </div>

        <!-- reactive submit button : disabled if form group is invalid -->
        <div class="text-center">
          <button [disabled]="!mmForm.valid" class="btn btn-primary"  type="submit">Apply</button>
        </div>
      </form>
    </div>
  </div>
</div>
