.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42a948;
}

.ng-valid:not(form) {
  border-left: 5px solid #a94442;
}

.alert div {
  background-color: #fed3d3;
  color: #820000;
  padding: 1rem;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: .5rem;
}
