<footer id="footer">

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        © Copyright
        <strong>
          <span>Mentor</span>
        </strong>.
        All Rights Reserved
      </div>
      <div class="credits">
        Developed by <a href="https://github.com/Kanyelings">Kanyelings</a>
      </div>
    </div>
    <span class="spacer"></span>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>
