<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-4 footer-contact">
          <h3>Mentor Match</h3>
          <p>
            Caps Street <br>
            Bambili, North West<br>
            Cameroon <br><br>
            <strong>Phone:</strong> &nbsp; <a href="tel:+237672270627">+237 672 270 627 </a><br>
            <strong>Email:</strong> &nbsp; <a href="mailto:elroykanye@gmail.com">elroykanye@gmail.com</a><br>
          </p>
        </div>

        <div class="col-lg-4 col-md-4 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Mentor</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Mentee</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Contact</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-4 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Tutoring</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">App Development</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Enterprise Development</a></li>
          </ul>
        </div>

        <!--
        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Join Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
        -->
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        © Copyright
        <strong>
          <span>Mentor</span>
        </strong>.
        All Rights Reserved
      </div>
      <div class="credits">
        Developed by <a href="https://github.com/Kanyelings">Kanyelings</a>
      </div>
    </div>
    <span class="spacer"></span>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>
