<section id="counts" class="counts section-bg">
  <div class="container">

    <div class="row counters">

      <!--TODO fix counter issue-->
      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="{{counts.mentors}}" data-purecounter-duration="0" class="purecounter">{{counts.mentors}}</span>
        <p>Mentors</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="{{counts.mentees}}" data-purecounter-duration="0" class="purecounter">{{counts.mentees}}</span>
        <p>Mentees</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="{{counts.matches}}" data-purecounter-duration="0" class="purecounter">{{counts.matches}}</span>
        <p>Matches</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-purecounter-start="0" data-purecounter-end="{{counts.total}}" data-purecounter-duration="0" class="purecounter">{{counts.total}}</span>
        <p>Total</p>
      </div>

    </div>

  </div>
</section>
