<section id="counts" class="counts section-bg">
  <div class="container">

    <div class="row counters">

      <!--TODO fix counter issue-->
      <div class="col-lg-3 col-6 text-center">
        <span [countUp]="counts.mentors" class="purecounter">{{counts.mentors}}</span>
        <p>Mentors</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span [countUp]="counts.mentees" class="purecounter">{{counts.mentees}}</span>
        <p>Mentees</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span [countUp]="counts.matches" class="purecounter">{{counts.matches}}</span>
        <p>Matches</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span [countUp]="counts.total" class="purecounter">{{counts.total}}</span>
        <p>Total</p>
      </div>

    </div>

  </div>
</section>
