<div class="member">
  <img src="{{mentor.imagePath}}" class="img-fluid" alt="">
  <div class="member-content">
    <h4>{{mentor.name}}</h4>
    <span>{{mentor.job}},<br> {{mentor.position}}</span>
    <p>
      {{mentor.quote}}
    </p>
    <div class="social">
      <a href="{{mentor.socials.twitter}}"><i class="bi bi-twitter"></i></a>
      <a href="{{mentor.socials.facebook}}"><i class="bi bi-facebook"></i></a>
      <a href="{{mentor.socials.instagram}}"><i class="bi bi-instagram"></i></a>
      <a href="{{mentor.socials.linkedin}}"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
</div>
