<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="index.html">Match</a></h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <!-- TODO switch to routerLinks rather -->
        <li class="m-1" (click)="reassignActive(navItem.id)" *ngFor="let navItem of navItems">
          <a class="nav-item {{navItem.active ? 'active-nav' : ''}}" routerLink="{{ navItem.routerLink }}">{{navItem.name}}</a>
        </li>
      </ul>

      <button class="btn">
        <i class="bi mobile-nav-toggle bi-list" (click)="toggleModal()"></i>
      </button>

    </nav>

    <div id="mobileNav" class="modal">
      <div class="modal-content">
        <span class="close" (click)="toggleModal()">&times;</span>
        <ul>
          <li class="{{navItem.active ? '' : ''}}" (click)="reassignActive(navItem.id); toggleModal()" *ngFor="let navItem of navItems">
            <a class="nav-item {{navItem.active ? 'active-nav' : ''}}" routerLink="{{ navItem.routerLink }}">{{navItem.name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <span class="spacer"></span>

    <a routerLink="/" class="get-started-btn">Get Started</a>

  </div>
</header>
