<section id="about" class="about">
  <div class="container aos-init aos-animate" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
        <img src="assets/img/about.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>Welcome!</h3>
        <div class="fst-italic">
          <div>
            <strong>Mentor:</strong><br>
            So you've decided to take a huge step toward responsibility.
            As you freely take this chance,
            we hope that you build the best of relationships with your mentee,
            as you help them skim through any difficulties that they may have.
          </div>
          <br>
          <div>
            <strong>Mentee:</strong><br>
            Are you a freshman? Lost, perhaps?
            Then a guide is totally what you need.
            We are happy to announce that finding the perfect mentor for you will no longer be a problem with our platform.
            We've cleared every hassle, and getting the best guide for your academic needs is only one step away.
            All you need to do is fill out the mentee form, and a perfectly set up algorithm will take care of the rest.
          </div>

        </div>
        <!--
        <ul>
          <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
          <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
          <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
        </ul>
        -->

      </div>
    </div>

  </div>
</section>
