<section id="why-us" class="why-us">
  <div class="container aos-init aos-animate" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="content">
          <h3>Why Use Mentor Match?</h3>
          <p>
            A mentor should be able to stand for his mentee(s).
            Vouching for them in technical situations, and them removing every possible obstacle that could be in their way.
            After the mentee has made a convincing attempt, of course.
          </p>
          <p>
            Having faith in yourself can make you.
            But success only comes with hard work and positive thinking.
            While you search for purpose, keep a positive attitude, have faith in yourself and your mentor.
          </p>
          <div class="text-center">
            <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 d-flex align-items-stretch aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-xl-6 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-receipt"></i>
                <h4>Role Model</h4>
                <p>
                  Remember, that your mentee looks up to you.
                  That is why you should first of become someone who will likely impact others.
                  Have something you would want to see in another person.</p>
              </div>
            </div>
            <div class="col-xl-6 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-cube-alt"></i>
                <h4>Confidante</h4>
                <p>
                  First and foremost, your mentee(s) sees you as a friend.
                  They trust you, and may or may not tell you things that are geared towards academics all the time.
                  It is your duty to counsel them if they have any issue that may be hindering their success rate.
                </p>
              </div>
            </div>
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section>
