<main>
  <section id="trainers" class="trainers">

    <!-- hero -->
    <app-hero-nav
      title="Matches"
      description="Find your match!"
      buttonText="Home"
      buttonLink="/">
    </app-hero-nav>

    <div class="container-fluid aos-init aos-animate" data-aos="fade-up">
      <div class="row aos-init aos-animate mx-1 my-5  {{displayMatches() ? 'd-none': 'd-block'}}" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-lg-3 col-md-6">
          It seems there is nothing here
        </div>
      </div>
      <div class="mx-1 my-5 {{displayMatches() ? 'd-block': 'd-none'}}">
        <span class="h3">Matches</span>
        <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
          <div class="mb-3 " *ngFor="let match of matches">
            <div class="mat-elevation-z5">
              <div class="col-12">
                <span class="mat-h3">Mentor</span>
                Mentor
                <app-user-card [user]="match.mentor" [role]="mentorVal"></app-user-card>
              </div>
              <div class="col-lg-3 col-md-6" >
                <span class="mat-h4">Mentees</span>
                <app-user-card *ngFor="let mentee of match.mentees" [user]="mentee" [role]="menteeVal"></app-user-card>
              </div>
            </div>
            <mat-divider></mat-divider>
          </div>


        </div>
      </div>

    </div>
  </section>
</main>
