<main>
  <section id="trainers" class="trainers">
    <div class="container aos-init aos-animate" data-aos="fade-up">
      <div class="row mt-5">


        <div class="col-md-4 col-sm-6">
          <div class="mat-elevation-z5">
            <img class="img-responsive img-fluid" src="assets/img/apply-1.jpg" alt="mentor mentee form content images">
          </div>
        </div>

        <div class="col-md-8 mt-5 mt-lg-0">
          <p>id: {{id}}</p>
          <p>Role: {{role}}</p>
          <p>Username: {{user.username}}</p>

        </div>


      </div>
    </div>
  </section>
</main>

