<main>
  <section id="trainers" class="trainers">
    <div class="container aos-init aos-animate" data-aos="fade-up">
      <div class="row mt-5">


        <div class="col-lg-4">
          <!-- TODO change this -->
          <div style="line-height: 2">
            <p>
              Everything starts from here. You are one step away form getting paired with someone who might likely
              change the way you see things. The following form is good starting ground. Fill <strong>every</strong> field with
              <strong>honesty</strong>.
            </p>
            <p>
              Remember that pairing is not instantaneous, so you will not immediately be notified. Be on the look out for
              related emails, which will be sent out on a communicated date.
            </p>
          </div>

          <br>

          <div class="mat-elevation-z5">
            <img class="img-fluid" src="assets/img/apply-1.jpg" alt="mentor mentee form content images">
          </div>





        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
          <p>User id: {{id}}</p>
        </div>


      </div>
    </div>
  </section>
</main>

