<section id="trainers" class="trainers">
  <div class="container aos-init aos-animate" data-aos="fade-up">

    <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">

      <!-- TODO add social media urls - Telmah -->
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Tantoh Telmah</h4>
            <span>JavaEE Dev,<br> Kanyeling</span>
            <p>
              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- TODO add social media urls - Chelsea -->
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Chelsea Banke</h4>
            <span>Web Dev (Backend),<br> Kanyeling</span>
            <p>
              Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- TODO add social media urls - Emy -->
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Njong Emy</h4>
            <span>Dev (Fullstack), <br>Kanyeling</span>
            <p>
              Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- TODO add social media urls - Favour -->
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Favour Fombi</h4>
            <span>Web Dev (Frontend), <br> Kanyeling</span>
            <p>
              Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
