<section id="trainers" class="trainers">
  <div class="container aos-init aos-animate" data-aos="fade-up">

    <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
      <!-- Main Mentors -->
      <!-- commented classes: align-items-stretch-->
      <div class="col-md-6 d-flex" *ngFor="let mainMentor of mainMentors">
        <app-mentor-card [mentor]="mainMentor.info"></app-mentor-card>
      </div>
    </div>


    <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
      <!-- Kanyelings -->
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" *ngFor="let kMentor of kanyelingMentors">
        <app-mentor-card [mentor]="kMentor.info"></app-mentor-card>
      </div>
    </div>

  </div>
</section>
