<main>
  <section id="trainers" class="trainers">

    <!-- hero -->
    <app-hero-nav
      title="Users"
      description="Find out about everyone enrolled in this program."
      buttonText="Home"
      buttonLink="/">
    </app-hero-nav>

    <div class="container-fluid my-5 mx-1 aos-init aos-animate" data-aos="fade-up">

      <!-- Mentors -->
      <div class="d-block my-5">
        <span class="h3">Mentors</span>
        <div class="mx-5">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event, 'mentor')" placeholder="Ex. Vince">
          </mat-form-field>
        </div>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="mentors" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <th mat-header-cell mat-sort-header sortActionDescription="Sort by ID" *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element">{{element.username}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell mat-sort-header sortActionDescription="Sort by name" *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let mentor">{{getName(mentor)}}</td>
            </ng-container>
            <ng-container matColumnDef="dept">
              <th mat-header-cell mat-sort-header sortActionDescription="Sort by department" *matHeaderCellDef>Department</th>
              <td mat-cell *matCellDef="let mentor">{{getDepartment(mentor)}}</td>
            </ng-container>
            <ng-container matColumnDef="level">
              <th mat-header-cell mat-sort-header sortActionDescription="Sort by level" *matHeaderCellDef>Level</th>
              <td mat-cell *matCellDef="let mentor">{{getLevel(mentor.level)}}</td>
            </ng-container>
            <!--
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef>Image</th>
              <td mat-cell *matCellDef="let mentor">
                <img src="{{getImage(mentor)}}" class="img-thumbnail" alt="Image of mentor {{getName(mentor)}}">
              </td>
            </ng-container>
            -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
        </div>
      </div>

      <div>
        <mat-divider></mat-divider>
      </div>

      <!-- Mentees -->
      <div class="d-block my-5">
        <span class="h3">Mentees</span>
        <div class="mx-5">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event, 'mentor')" placeholder="Ex. Vince">
          </mat-form-field>
        </div>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="mentees" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <th mat-header-cell mat-sort-header sortActionDescription="Sort by ID" *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element">{{element.username}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell mat-sort-header sortActionDescription="Sort by name" *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let mentor">{{getName(mentor)}}</td>
            </ng-container>
            <ng-container matColumnDef="dept">
              <th mat-header-cell mat-sort-header sortActionDescription="Sort by department" *matHeaderCellDef>Department</th>
              <td mat-cell *matCellDef="let mentor">{{getDepartment(mentor)}}</td>
            </ng-container>
            <ng-container matColumnDef="level">
              <th mat-header-cell mat-sort-header sortActionDescription="Sort by level" *matHeaderCellDef>Level</th>
              <td mat-cell *matCellDef="let mentor">{{getLevel(mentor.level)}}</td>
            </ng-container>
            <!--
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef>Image</th>
              <td mat-cell *matCellDef="let mentor">
                <img src="{{getImage(mentor)}}" class="img-thumbnail" alt="Image of mentor {{getName(mentor)}}">
              </td>
            </ng-container>
            -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
        </div>
      </div>

    </div>
  </section>
</main>
