<main>

</main>
<section id="trainers" class="trainers">

  <!-- hero -->
  <app-hero-nav
    title="Users"
    description="Find out about everyone enrolled in this program."
    buttonText="Home"
    buttonLink="/">
  </app-hero-nav>

  <div class="container-fluid aos-init aos-animate" data-aos="fade-up">

    <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
      Mentors
      <app-user-card *ngFor="let mentor of mentors" [user]="mentor" [role]="mentorVal"></app-user-card>
    </div>
    <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
      Mentees
      <app-user-card *ngFor="let mentee of mentees" [user]="mentee" [role]="menteeVal"></app-user-card>
    </div>


  </div>
</section>
